:root {
  --white:white;
  --grey:#475467;
  --lgrey:#F4F7FC;
  font-family: "Roboto Mono", monospace;
}

.unbounded {
  font-family: "Unbounded";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.navbar {
  position: relative;
  z-index: 2;
  padding: 1rem;
  box-shadow: 0px 1px 10px grey;
  display: flex;
  gap: 3vw;
}
.navbar ul {
  list-style-type: none;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3vw;
}
.navbar ul a {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .navbar ul {
    background-color: var(--white);
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 5.42rem;
    right: 0;
    font-size: 25px;
    transform: translateX(50vw) scaleX(0);
    transform-origin: right;
    transition: 0.5s ease-in-out;
  }
}
.navbar ul.active {
  transform: translateX(0) scaleX(1);
}
.navbar .burger {
  margin-left: auto;
  position: relative;
  z-index: 2;
  display: none;
  cursor: pointer;
}
.navbar .burger line {
  stroke: black;
  stroke-width: 5px;
  stroke-linecap: butt;
}
@media screen and (max-width: 800px) {
  .navbar .burger {
    display: block;
  }
}

.logo {
  margin-left: min(50px, 1vw);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo img {
  width: 50px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 650px) {
  main {
    grid-template-columns: 0fr 1fr;
  }
}
main .left {
  background-image: url("Media/left cover.png");
  background-position: center center;
  background-repeat: no-repeat;
}
main .right {
  background-color: white;
  padding: min(4rem, 10vw);
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: auto;
  gap: 3rem;
}
main .right .heading h1 {
  font-size: max(min(50px, 5vw), 35px);
  font-weight: 400;
}
main .right .heading p {
  font-size: max(min(20px, 2.5vw), 10px);
  font-weight: 400;
}
main .right form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 3fr 3fr 1fr;
  gap: 1.2rem 0;
}
main .right form .labelinputpair {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 600;
}
main .right form .labelinputpair .error {
  box-shadow: 0 0 10px red;
}
main .right form .labelinputpair i {
  color: red;
}
main .right form .labelinputpair input {
  width: 100%;
  height: 2.2rem;
  border: 1px solid var(--grey);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
main .right form .labelinputpair textarea {
  border: 1px solid var(--grey);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  resize: vertical;
}
main .right form .labelinputpair #Description {
  height: 6rem;
}
main .right form > .checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
main .right form > .checkboxes > .cbhead {
  grid-column: span 2;
  font-weight: 600;
}
main .right form > .checkboxes > .labelboxpair {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .right form > .checkboxes input {
  cursor: pointer;
}
main .right form > #submitbutton {
  height: 50px;
  border-radius: 10px;
  background-color: var(--grey);
  color: var(--white);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

footer {
  box-sizing: border-box;
  padding: 5rem;
  background-color: var(--lgrey);
}
footer .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
footer .flex-container.space {
  justify-content: space-around;
}
footer .flex-container.row {
  flex-direction: row;
}
footer .flex-container.column {
  flex-direction: column;
  align-items: flex-start;
}
footer .flex-container > p {
  width: 15rem;
}
footer .flex-container > .logo {
  margin: 0;
}
footer .grid-container {
  font-size: 17px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}
footer .grid-container > h5 {
  font-family: "Unbounded";
}/*# sourceMappingURL=style.css.map */